/* --- Pets (Group 5xxx) --- */
.pet-selector.selected { border-color: #f59e0b; box-shadow: 0 0 10px #f59e0b; background-color: #374151; }
#pets-inventory-list .active-pet-glow { box-shadow: 0 0 12px #f59e0b, inset 0 0 8px rgba(245, 158, 11, 0.5); }